################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
DotnetCore-MVC/.vs 
DotnetCore-MVC/bin 
DotnetCore-MVC/obj 
*.csproj.user 
